# -------------------------- log ------------------------- #
log_level: info
log_on_each_node: false
logging_steps: 200
logging_first_step: true
report_to:
    - tensorboard

# ------------------------- train ------------------------ #
num_train_epochs: 500
per_device_train_batch_size: 2
per_device_eval_batch_size: 2
optim: adamw_torch_fused
learning_rate: 0.0001
lr_scheduler_type: warmup_stable_decay
warmup_ratio: 0.05
lr_scheduler_kwargs:
    num_decay_steps: 43500
    min_lr_ratio: 0.1
weight_decay: 0.05

# ------------------------- eval ------------------------- #
batch_eval_metrics: true
eval_strategy: steps
eval_steps: 2175
eval_on_start: true

# ------------------------- save ------------------------- #
metric_for_best_model: PQ
save_strategy: best

# ------------------------- data ------------------------- #
dataloader_num_workers: 64
dataloader_drop_last: true # TODO!: if false, the eval step will have some strange bugs, wait to fix